

.table-form-div{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.table-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.table-form h2{
    text-align: center;
    margin-bottom: 10px;}

label {
    display: block;
    margin: 10px 0;
    text-align: start;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.regtbl-button {
    background-color: var(--accent-color);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    margin: auto;
    margin-top: 10px;        

}

.regtbl-button:hover {
    background-color: #ff3300;
}