{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-in Page</title>
    <link rel="stylesheet" href="{% static 'css/adminlogin-reg.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
               
                <li><a href="{% url 'login' %}">User Login</a></li>
                <li><a href="{% url 'adminreg' %}">Sign In</a></li>
                <li><a href="aim.html ">Our Aim</a></li>
                <li><a href="#aboutus">About Us</a></li>
                <li><a href="#contactinfo">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <img src="{% static 'images/weblogo.png' %}" alt="ReservEat">
    <div class="container-login">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter Your Username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter Your Password" required>
            {% if msg %}
                <div class="alert-error">
                    {{ msg }}
                </div>
                {% endif %}

            <label for="remember-me">
                <input type="checkbox" name="remember-me"> Remember Me
            </label>
            <button class="button1" type="submit">Login as Admin</button>
        </form>
        <p><a href="forgot-password.html" class="forgetpwd">Forgot Password?</a></p>
        <p class="create-account">
            Don't have an account? <a href="{% url 'adminreg' %}" class="create-account-link">(Create an Account)</a>
        </p>
    </div>
</body>
</html>