{% extends 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">

<body>
    {% block mycontent %}
    <div class="container">
        <div class="sidebar">

            <ul>
                <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li><a href="{% url 'tables' %}"><i class="fa fa-table"></i> Table Logistics</a></li>
                
                <li><a href="{% url 'res-administration' %}"><i class="fa fa-calendar"></i> Reservation Administration</a></li>
                
                <li><a href="#analytics"><i class="fa fa-bar-chart"></i> Analytics</a></li>
                <li><a href="{% url 'settings' %}"><i class="fa fa-cogs"></i> Settings</a></li>
            </ul>
        </div>

        <div class="main-content">
            <div class="main-box">
                <div class="top-section">
                    
                    <div class="user-info">
                        <div class="infopart">
                            <p><i class="fa fa-user" aria-hidden="true"></i>
                                Name: {{user.firstname}} {{user.lastname}}</p>
                            <p><i class="fa fa-envelope" aria-hidden="true"></i>
                                Email: {{user.email}}</p>
                        </div>
                        <div class="restaurant-info-top">
                            <p><i class="fa fa-cutlery" aria-hidden="true"></i>
                                Restaurant Name: {{ restaurant.res_name }}</p>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>
                                Address: {{ restaurant.res_address }}</p>
                            <!-- Add more details as needed -->
                        </div>
                    </div>

                </div>
                {% if not flag %}
                <div class="ambianceform-div">
                    <!-- Edit restaurant information  -->
                    <form class="ambiance-form" method="post" action="{% url 'upld' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" value="{{ restaurant.id }}" name="rid">
                        <h2>Upload Ambiance Images</h2>
                        <label>Choose Image</label>


                        <input type="file" name="ambiance" required>
                        <button class="upload-button" type="submit">Upload</button>

                    </form>

                    {% elif flag %}
                    <div class="table-form-div">
                        <form class="table-form" method="post" action="{% url 'regtable' %}">
                            {% csrf_token %}
                            <h2>Table Registration Form</h2>
                            <label for="tableName">Table Name:</label>
                            <input type="text" name="tableName" required>
                            <label for="tableName">Table Number:</label>
                            <input type="number" name="tableNumber" required>
                            <label for="seatingCapacity">Seating Capacity:</label>
                            <input type="number" name="seatingCapacity" min="1" required>
        
                            <label for="location">Location:</label>
                            <input type="text" name="location" required>
        
                            <button class="regbl-button">Register Table</button>
                        </form>
                        {% endif %}
                </div>


            </div>
        </div>
        {% endblock %}
</body>

</html>