{% extends 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">

<body>
    {% block mycontent %}

    <div class="main-box">
        <div class="top-section">
            <h1>Welcome to My Dashboard</h1>
            <div class="user-info">
                <p><i class="fa fa-user" aria-hidden="true"></i>
                    Name: {{user.firstname}} {{user.lastname}}</p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i>
                    Email: {{user.email}}</p>
            </div>
           
        </div>
        <div class="ambianceform-div">
            <!-- Edit restaurant information  -->
            <form class="ambiance-form" method="post" action="{% url 'upld' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" value="{{ restaurant.id }}" name="rid">
                <h2>Upload Ambiance Images</h2>
                <label>Choose Image</label>


                <input type="file" name="ambiance" required>
                <button class="upload-button" type="submit">Upload</button>

            </form>
        </div>

    </div>
    {% endblock %}
</body>

</html>