{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ReservEat  Table Booking Website</title>
  <link rel="icon" type="image/png" href="{% static 'images/icon.PNG' %}" sizes="32x32 64x64">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/managerestaurant.css' %}">
  <link rel="stylesheet" href="{% static 'css/ambianceform.css' %}">
  <link rel="stylesheet" href="{% static 'css/tablereg.css' %}">



</head>

<body>
  <!-- Header -->
  <header>
    <div class="logo">
      <img src="{% static 'images/weblogo.png' %}" alt="Restaurant Booking Logo">
    </div>
    <nav>
      <ul>
        <li><a href="Home-Page.html">Home</a></li>
        <li><a href="booking page.html">Book</a></li>

        {% if user %}
            <li><a href="#">Logged in as {{ user.firstname }}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="Login-Page.html">Login</a></li>
            <li><a href="Signin-page.html">Sign In</a></li>
            <li><a href="aim.html ">Our Aim</a></li>
        {% endif %}
        
        <li><a href="#aboutus">About Us</a></li>
        <li><a href="#contactinfo">Contact Us</a></li>
      </ul>
    </nav>
  </header>
  
  {% block mycontent %}
  {% endblock %}
</body>
</html>