{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-in Page</title>
    <link rel="icon" type="image/png" href="/static/images/icon.PNG" sizes="32x32 64x64">
    <link rel="stylesheet" href="{% static 'css/login-reg.css' %}">
    
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'adminlogin' %}">Admin Login</a></li>
                <li><a href="{% url 'adminreg' %}">Sign In</a></li>
                <li><a href="aim.html ">Our Aim</a></li>
                <li><a href="#aboutus">About Us</a></li>
                <li><a href="#contactinfo">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <img class="reglogo" src="/static/images/weblogo.png" alt="ReservEat">
    <div class="reg-container">
        <h2>Sign in</h2>
        <form method="post">
            {% if success_message %}
                <div class="alert-success">
                    {{ success_message }}
                </div>
                {% endif %}
            {% csrf_token %}
            <div class="column">
                <label for="phonenumber"> Phone Number: </label>
                <input type="tel" name="telephoneno" placeholder="Enter Your Mobile Number" required>
                <label for="First Name">First Name: </label>
                <input type="text" name="firstname" placeholder="First Name" required>
                <label class= "address"> Full Address: </label>
                <input type="text" name="address" placeholder="Enter Your Address" required>
            </div>
            <div class="column">

                <label for="email">Email: </label>
                <input type="email" name="email" placeholder="Enter Your Email">

                <label for="Last Name">Last Name:</label>
                <input type="text" name="lastname" placeholder="Last Name" required>


                <label for="password">Create Password</label>
                <input type="password" name="password" placeholder="Create Password" required>


                <label for "confirmPwd">Re-Enter Password:</label>
                <input type="password" name="password" placeholder="Re-Enter Password" required>
            </div>


            <button type="submit">Register</button>
        </form>
        <p class="login">
            Already have an account? <a href="../login/" class="login-account-link">(Login)</a>
        </p>
    </div>
</body>

</html>